/********************************************** For Small Device *************************************************************/
@media (max-width: 575.98px){

/********************************************** Banner Part Responsive Starts *************************************************************/    
.bannertxt {
    padding: 268px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bannertxt h1 {
    font-size: 40px;
    font-weight: 200px;
}

.bannertxt h1 strong {
    font-size: 40px;
}

.bannertxt h2 {
    margin-right: 100px;
    margin-left: 112px;
}

/********************************************** Banner Part Responsive Ends *************************************************************/

/********************************************** Feature Part Responsive Starts *************************************************************/
.featurebtn button {
    padding: 10px 10px;
}
/********************************************** Feature Part Responsive Ends *************************************************************/

/********************************************** About Me Part Responsive Starts *************************************************************/

.aboutheading {
    padding: 30px 17px;
}

/********************************************** About Me Part Responsive Ends *************************************************************/

/********************************************** Client Part Part Responsive Starts *************************************************************/

.reviewbox {
    top: -48px;
    left: 89px;
}

.responsivebox {
    width: 85%;
}

.reviewbox::before {
    top: 12px;
    left: -29px;
    border-width: 10px 30px 10px 0;
}

/********************************************** Client Part Part Responsive Ends *************************************************************/

/********************************************** Service Part Responsive Starts *************************************************************/

.servicebox {
    margin-bottom: 20px;
}

/********************************************** Service Part Responsive Ends *************************************************************/

/********************************************** Blog Part Responsive Starts *************************************************************/

.blogbox {
    margin-bottom: 20px;
}

.blogimg img {
    height: 366px;
}

/********************************************** Blog Part Responsive Ends *************************************************************/

/********************************************** Contact Part Responsive Starts *************************************************************/

.contactdetails {
    margin-left: 0;
}

/********************************************** Contact Part Responsive Ends *************************************************************/ 

}
/********************************************** For Small Device *************************************************************/



/********************************************** For Medium Device *************************************************************/
@media (min-width: 576px) and (max-width: 767.98px) {


    
}
/********************************************** For Medium Device *************************************************************/



/********************************************** For Large Device *************************************************************/
@media (min-width: 768px) and (max-width: 991.98px) {


    
}
/********************************************** For Large Device *************************************************************/



/********************************************** For Huge Device *************************************************************/
@media (min-width: 992px) and (max-width: 1199.98px) {


    
}
/********************************************** For Huge Device *************************************************************/



/********************************************** For T.V Device *************************************************************/
@media (min-width: 1200px) and (max-width: 1399.98px) {


    
}
/********************************************** For T.V Device *************************************************************/



/********************************************** For Wall T.V Device *************************************************************/
@media (max-width: 1400px) {


    
}
/********************************************** For Wall T.V Device *************************************************************/