/********************************************** For Small Device *************************************************************/
@media (max-width: 575.98px){

/********************************************** Banner Part Responsive Starts *************************************************************/    
.bannertxt {
    padding: 268px 0px;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.bannertxt h1 {
    font-size: 40px;
    font-weight: 200px;
}

.bannertxt h1 strong {
    font-size: 40px;
}

.bannertxt h2 {
    margin-right: 100px;
    margin-left: 112px;
}

/********************************************** Banner Part Responsive Ends *************************************************************/

}
/********************************************** For Small Device *************************************************************/



/********************************************** For Medium Device *************************************************************/
@media (min-width: 576px) and (max-width: 767.98px) {


    
}
/********************************************** For Medium Device *************************************************************/



/********************************************** For Large Device *************************************************************/
@media (min-width: 768px) and (max-width: 991.98px) {


    
}
/********************************************** For Large Device *************************************************************/



/********************************************** For Huge Device *************************************************************/
@media (min-width: 992px) and (max-width: 1199.98px) {


    
}
/********************************************** For Huge Device *************************************************************/



/********************************************** For T.V Device *************************************************************/
@media (min-width: 1200px) and (max-width: 1399.98px) {


    
}
/********************************************** For T.V Device *************************************************************/



/********************************************** For Wall T.V Device *************************************************************/
@media (max-width: 1400px) {


    
}
/********************************************** For Wall T.V Device *************************************************************/